# 项目相关配置
ruoyi:
  # 名称
  name: admin
  # 版本
  version: 3.8.3
  # 版权年份
  copyrightYear: 2022
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: /home/ruoyi/uploadPath
  # 上传图片绝对路径
  profile-img: /home/local/wlscp/fileUpload/images
  # 上传图片相对路径
  relative-profile: /images
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数组计算 char 字符验证
  captchaType: math
  # 前端服务器ip地址+端口
  url-prefix: http://161.189.65.136:80

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8701
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.ruoyi: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  # 数据源配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    druid:
      # 主库数据源
      master:
        url: jdbc:mysql://161.189.65.136:3306/wdcsp?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8
        username: wdcspAdmin
        password: ENC(N+wnM/pINbh5tj4sQSzpROuouZG9Eo2P)
        #password: wdcspAdmin@123
      # 从库数据源
      slave:
        # 从数据源开关/默认关闭
        enabled: false
        url:
        username:
        password:
      # 初始连接数
      initialSize: 5
      # 最小连接池数量
      minIdle: 10
      # 最大连接池数量
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间，单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      # 配置检测连接是否有效
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      webStatFilter:
        enabled: true
      statViewServlet:
        enabled: true
        # 设置白名单，不填则允许所有访问
        allow:
        url-pattern: /druid/*
        # 控制台管理用户名和密码
        login-username: ruoyi
        login-password: 123456
      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true
  #redis配置
  redis:
    # 地址
    host: localhost
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 密码
    password:
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 100MB
      # 设置总上传的文件大小
      max-request-size: 500MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

#jasypt 加密配置
jasypt:
  encryptor:
    algorithm: PBEWithMD5AndDES
    password: jgck
    iv-generator-classname: org.jasypt.iv.NoIvGenerator
# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 30
RSA:
  #密钥
  privateKey: MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCDW9XJvc8/N/vvvK5wg9mqXVV340xo29xe6LkEQ1gFivPU9zyYMYVVLphmWwPaYJSA595aFsV4FVYhFb2LzW57P7QYksvtAHaKrR0ZkVJCBau5NbPQb9d2WnutP4oD6nQClMtt5J6Ch3p2kL6hygJ+sOWXU0HNCUzl+npUJqsj00BQjcXriXPVv3QVB8h01MboHQ/sSE19EBX8l2eAhzeMFCCPSE3jikeRZ30ZT+ucbllZtec6VEs3+NBJkcd7BOiIQyuHmOBydwTWtwXage9eOmVPogW2vZJk9SWq8bDJOVc660XHzZ0Ox1/Yh10qIB7OGdjAG77YNVIxorRRJj73AgMBAAECggEAeu62HBCD5SEqqUkGY4wxZ4vjkchp2PRxv2zCweeYd897tEIRNkmaA4cQ3zGsYHHkaOMWp28KLQCi02G6OxztmXCbxieTq2C0j8HFKwliVyFhfXpxps8UcNHrTs7ZBiMjoMrJuzWq1nOdu1po3ZblUNWSeFVVjmJ20f/g/eIWZfZD9V431DBtM0dNRe+Pnvis+MNH4EniLmyT1R+dP5OiUMVK1uEqPpXsKgslog6zqKgkoD9ShQNuTFqrYNA/RTWlAwGpy92RpsvToXAhFtMcfI8/jA16J4CNHiZCgIlKIv9MQn8+odp9RGtPcP68FBTCS4SxhRHeeI69Otxd8lYBoQKBgQD8zQnBgdzinAJj1duMdnaIMj1riRIVLW7qYjIGgxzTUg99EMY0HOv0Yn1oKJUSzCJEhuz+2szcfEdH4llTPxTygUf927D1eD/rwTrbBfUuhGRBpBJjeMpVaMG5jgOXNL0YXUn48iow8+nuSHUrryI9qKho25VAqTzERiBUQ6U2MQKBgQCFBWDtF2AjAGDSRFp0RdMenG2g3/jD4LmVJYDJnOxMH+hZbl8rIuQVwFy6iDRsHmNf+TTCTjL1iihITEIqm7Ekc4RyjC6325F1LkM0ElGtpeSY74VflITQbTAPQIwRbEanxBVfYQBbz25liVEgqQXGZgW1J+ypBeG+pNvXE/P1pwKBgBRvtuQvzV18Yy0S8sauJPLprNFuqUmQ/LBx871XCBOFRL9FheBcni6Jb73l2fdFDVgg2DPaGEmSumhzQela5iSckudQxUNyzygN3OYr2yBBj6FG1D26XBD/gPmxI1Ur7EV19S7s1MBUV4rtzJsVc10sr0Caz7wEcmcjjCWDum1hAoGAHe4Z4v7xeK6rGmSa3bKgUDDuUdZTSO+VkkN/+N1AJdjAFO9KppARNfu0YZwn/3PO9FdEUbv6p1jQu4O9F400jHkZghScpm3XCsDACkVc7292QhsSrXDjeWo3+BaT7Y+pTjJGhNF0nTPNKTd+c5TUYdGu0xYKn/Vc1+KMPJaWu90CgYAJqUNFqUAzmhrASmSbezWH3D4+DwBuRlCsIABYR/AtCgvVH2PyKpgrWkFIvsOjYXRpo0pv+edkJeAsLMSBPtbJOLx6IMjd7iZrUWRCJHffVn79QUP0kYiYvLFiwfHkQCyafUmjNDrtZqIU9eZigJxYeXro6ArXBQbjU39qBO4poQ==

# MyBatis配置
mybatis-plus:
  # 搜索指定包别名
  typeAliasesPackage: com.ruoyi.**.domain
  # 自定义TypeHandler
  type-handlers-package: com.ruoyi.typehandler
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  config-location: classpath:mybatis/mybatis-config.xml
# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

wx:
  # 公众号配置
  mp:
    configs:
      - appId: wx9cf5678b1c99ae14
        secret: 8e5a595a755693acfe4a92cb1d93bc25
        token: 123456
        aesKey: xxxxxxxxxxxxxxxxxxxx
  # 小程序配置
  ma:
    configs:
      - appId: xxxxxxxxxxxxxxxx
        secret: xxxxxxxxxxxxx
        # 微信支付商户号，请去微信支付平台申请
        mchId: 1588227511
        # 微信支付商户密钥，请去微信支付平台申请
        mchKey: xxxxxxxxxxxxxxxxxxxxx

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

WeXin:
  templateId: eQhN6siM293oyoRUv6-vvzJnf07rBtpoNfcqX9Wa7FE
