.el-dialog__header {
  background-color: #006efffd;

  .el-dialog__title {
    color: #fff;
  }

  .el-dialog__headerbtn {
    i {
      color: #fff;
    }

    i:hover {
      color: #fff;
    }
  }
}
